/* Css reset */
* {
  margin: 0;
  padding: 0;box-sizing: border-box;
}

/* Utilities */
.container {
  width: 80%;
  margin: 7rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: 45rem;
}

.button {
  position: relative;
}

.prev {
  position: absolute;
  top: 7.5rem;
  left: 53rem;
}

.next {
  position: absolute;
  bottom: 8.5rem;
  left: 53rem;
}

.prev, .next {
  width: 1rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
}